<header class="header">
    <div class="header__control">
      <div class="icon"><img src="assets/images/iconlogo.png" alt=""></div>
      <div class="logo"><img src="assets/images/logo.png" alt=""></div>
      <div class="logout"><a href="#"></a></div>
    </div>
  </header>
  <main class="main">
    <div class="wrap">
      <div class="home">
        <div class="content">
          <div class="home__left"><img src="assets/images/iconlogo.png" alt=""><img src="assets/images/logo.png" alt="">
            <p>Acerca del aplicativo ... Esta denuncia constitucional deberá seguir un largo camino en el Congreso de la República. Pero no es la primera acusación que se presenta sobre el mismo caso.</p>
          </div>
          <div class="home__right">
            <form class="home__form" #loginForm="ngForm">
              <h3 class="home__form__title">Iniciar Sesión</h3>
              <div class="inputs">
                <div class="input input--user">
                  <input type="text" placeholder="Ingresa tu usuario" [(ngModel)] = "usuario" name="usuario">
                </div>
                <div class="input input--password">
                  <input class="input--password" type="password" placeholder="Ingresa tu contraseña"  [(ngModel)] = "password" name="password">
                </div>
              </div>
              <button class="btn" (click)="login()">Ingresar</button><a class="home__form__forgot">¿Olvidaste  tu contraseña?</a><span>Si aún no tienes una cuenta, <a class="home__form__register" href="register.html">Registrate aquí</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer"></footer>